*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

:root{
  font-size: 62.5; /* 10px */
}

body{
  background: #ECE9FD;

  padding: 6.0rem 2.3rem 6.3rem;
  font-size: 1.6rem;

  font-family:'Epilogue';
  font-weight: 400;
}

main{
  max-width: 33rem;
  margin: 0 auto;
}

main p:first-child{
  font-family: 'Epilogue';
  line-height: 3.2rem;
  letter-spacing: 3px;
  color: #7158EF;
  text-transform: uppercase;

  margin-bottom: 1.7rem;

}

h1{
  font-weight: 800px;
  font-family: 'Epilogue';
  font-size: 4rem;
  line-height: 4.8rem;

  color: #090039;

  margin-bottom: 1.5rem;
}

h1 + p {
  color: rgba(10, 0, 57, 0.64);
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}

a{
  color: #090039;
  font-family: 'Epilogue';
  line-height: 3.2rem;

  text-decoration: none;
}

a:hover{
  font-weight: bold;
}

ul{
  margin-top: 7.2rem;
  
}

ul li span{
  font-family: Epilogue;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 8.0rem; /* 111.111% */
  letter-spacing: -2px;
  color:#090039;
}

ul li{
  color: var(--text-dark, #090039);
  font-feature-settings: 'clig' off, 'liga' off;

  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;

  max-width: 25.7rem;

  display: flex;
  gap: 3.8rem;
}

ul li + li{
  margin-top: 3.2rem;
}

@media (min-width: 700px) {

  body{
    padding: 8rem;
  }

 main{
  max-width: 1020px;
  display: flex;
  gap: 10rem;
 }

 main > div{
  max-width: 485px;
 }

 ul li{
  gap: 5.3rem;
  max-width: 450px;
  align-items: center;

 }


}
